<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="exampleModalLabel">Nova Tarefa</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>

    <%= form_for @cadastro, remote: true do |form| %>
      
      <div class="modal-body">
        <div class="col">
          <%= form.text_field :nome, placeholder: "Adicione aqui sua tarefa", class: "form-control" %>
        </div>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <%= form.submit "Cadastrar", class: "btn btn-outline-dark" %>
      </div>

    <% end %>

  </div>
</div>
